.button{
  border-radius: 10px;
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  color: tomato;
}
.navFormat{
  color: chartreuse;
  text-align: left;
  border-radius: 15px;
  padding: 15px;
  background-color: darksalmon;
}